.dashboard{
    padding: 20px;
}
.welcome-message{
    margin-bottom: 20px
}
.dashboard-card{
    background-color: #26547c;
    border-radius: 10px;
    padding: 15px;
    color: white;
}
.card-title{
    margin: 0 0 10px 0;
    font-size: 14px;
}
.card-content{
    background-color:#fffcf9;
    border-radius: 8px;
    padding: 15px;
    color: black;
    min-height: 80px;
}
.dashboard-grid{
    display:grid;
    gap: 20px;
    grid-template-areas:
        "today . character"
        "today . character"
        "today momentum stats";
    grid-template-columns: 1fr 1fr 1fr;
}
.today-card{
    grid-area: today;
}
.character-card{
    grid-area: character;
}
.momentum-card{
    grid-area: momentum;
}
.character-stats-card{
    grid-area: stats;
}