.habit-item{
    display: flex;
    align-items: center;
    background-color: #c2cee3;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 12px;
    margin-bottom: 5px;
    justify-content: space-between;
    box-shadow: 2px 2px #6e7483;
    transition: background-color 1s ease;
}
.habit-item.completed{
    background-color: #1e8c1e;
    color: white;
}

.habit-item.inactive{
    background-color: #d3d3d3;
}
.habit-item.inactive .habit-content,
.habit-item.inactive .complete-btn,
.habit-item.inactive .delete-btn{
    opacity:0.5;
}

.habit-content{
    display:flex;
    flex-direction: row;
    align-content: center;
    gap: 18px;
}

.habit-name{
    font-weight:500;
}

.habit-badge-type{
    font-size: 0.75em;
    padding: 2px 8px;
    border-radius: 12px;
    font-weight:600;
    background-color: #8a4e45;
    color:white;
}
.button-grp{
    display: flex;
    gap: 10px;
}
.complete-btn{
    background-color: #54c859;
    color:white;
    border: 1px solid black;
    border-radius: 10px;
}
.complete-btn:hover:not(:disabled){
    background-color:#3da642;
}

.complete-btn:disabled,
.delete-btn:disabled{
    opacity:0.4;
    background-color: #999
}

.delete-btn{
    background-color: #ec4c3a;
    color:white;
    border: 1px solid black;
    border-radius: 10px;
}
.delete-btn:hover:not(:disabled){
    background-color: #d63d2d;
}

