.header{
    background-color: #fffcf9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    border-bottom: 6px solid #26547c;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #26547c;
    color: white;
    font-weight: bold;

}