.sidebar{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    flex-direction: column;
    background-color: #26547c;
    width: 160px;
    gap: 20px;
}

.tab-button{
    align-items: center;
    background-color:#fffcf9;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100px;
    cursor: pointer
}
.tab-button.active{
    background-color: #2d80bd;
    color: white;
}

